importFrom("graphics", "lines", "par", "plot", "title", "boxplot")
importFrom("stats", "approx", "ksmooth", "lm", "model.extract",
           "model.matrix", "pnorm", "printCoefmat", "quantile",
           "rbinom", "rexp", "rgamma", "rgeom", "rlnorm", "rnorm",
           "rpois", "runif", "rweibull", "var", "aggregate",
           "as.formula", "coef", "sd")
importFrom("methods", "getClass")
importFrom("utils", "head")
importFrom("BB", BBsolve, dfsane, BBoptim)
importFrom("SQUAREM", squarem)
importFrom("nleqslv", nleqslv)
importFrom("MASS", ginv)
importFrom("survival", Surv, basehaz, coxph, survfit)
importFrom("ggplot2", ggplot, geom_point, aes, geom_line, geom_bar, ggtitle, scale_color_manual, scale_shape_manual, theme, element_text, labs, facet_grid, theme_bw, ggplotGrob, coord_flip, element_blank, element_line, element_rect, xlab, ylab, scale_x_continuous, alpha, guides, guide_legend)
importFrom("tidyr", unnest, nest)
importFrom("dplyr", "%>%", group_by, group_by_at, filter, summarize, mutate, full_join, left_join, arrange, select)
importFrom("purrr", map_lgl)
importFrom("plyr", ddply, count)
importFrom("stats", "terms", "pchisq", "complete.cases", "stepfun")
importFrom("grDevices", "hcl")
export(reSurv, is.reSurv, reReg, plotRate, plotHaz, plotEvents)
S3method(coef, reReg)
S3method(plot, reReg)
S3method(plot, reSurv)
S3method(print, reSurv)
S3method(print, reReg)
S3method(summary, reReg)
S3method(print, summary.reReg)
useDynLib(reReg, .registration = TRUE)
